{% if latest_sku_list %}
    {% load static %}
    <head>
        <title>index</title>

        <link rel="stylesheet" type="text/css" href="{% static 'promotion_system/tablesorter-master/dist/css/theme.blue.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'promotion_system/tablesorter-master/addons/pager/jquery.tablesorter.pager.css' %}">
        
        <!--jquery-->
        <script type="text/javascript" src="{% static 'promotion_system/jquery-3.3.1.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'promotion_system/tablesorter-master/dist/js/jquery.tablesorter.js' %}"></script>
        <script type="text/javascript" src="{% static 'promotion_system/tablesorter-master/dist/js/jquery.tablesorter.widgets.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'promotion_system/tablesorter-master/addons/pager/jquery.tablesorter.pager.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'promotion_system/tablesorter-master/beta-testing/pager-custom-controls.js' %}"></script>
        
        <style>
          .left { float: left; }
          .right {
            float: right;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
          }
          .pager .prev, .pager .next, .pagecount { cursor: pointer; }
          .pager a {
            text-decoration: none;
            color: black;
          }
          .pager a.current {
            color: #0080ff;
          }
        </style>

    </head>

    <h1>JS Gaisano Promotion System yoyoyoyoyo</h1>
	
    <form name="product_select_form" action="{% url 'promotion_system:submit_list' %}" method="post" onSubmit="displaySelected()"/>
        {% csrf_token %}
		<button type="button" class="reset">Reset Search</button>
		
		<input type="checkbox" id="select_all" value=""/>Select/Deselect all in this page <br>

        <table id="product_list_table">
          <thead>
            <tr>
              <th>Brand Name</th>
              <th>Short Description</th>
              <th>Category</th>
              <th>Date Created</th>
              <th data-filter="false" align="center" id="select_header">Select</th>
            </tr>
          </thead>
          <tfoot>
            <th>Brand Name</th>
            <th>Short Description</th>
            <th>Category</th>
            <th>Date Created</th>
            <th>Select</th>
            <tr>
              <td colspan="5">
                <div class="pager">
                  <nav class="left">
                    # per page:
                    <a href="#" class="current">10</a> |
                    <a href="#">25</a> |
                    <a href="#">50</a> |
                    <a href="#">100</a>
                  </nav>
                  <nav class="right">
                    <span class="prev">
                      <img src="{% static 'promotion_system/tablesorter-master/addons/pager/icons/prev.png' %}" /> Prev&nbsp;
                    </span>
                    <span class="pagecount"></span>
                    &nbsp;<span class="next">Next
                      <img src="{% static 'promotion_system/tablesorter-master/addons/pager/icons/next.png' %}" />
                    </span>
                  </nav>
                </div>
              </td>
            </tr>
          </tfoot>
          <tbody>
            {% for sku in latest_sku_list %}
                <tr>
                    <td>{{ sku.brand }}</td>
                    <td>{{ sku.short_description }}</td>
                    <td>{{ sku.category }}</td>
                    <td>{{ sku.date_created }}</td>
                    <td align="center"><input type="checkbox" class="checkbox" name="product_list[]" value="{{ sku.id }}"></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
		
		<input type="submit" value="Submit" name="product_select_submit" /> <br>
    </form>

    <form name="sms_text_form" action="{% url 'promotion_system:sms' %}" method="post" onSubmit="">
        {% csrf_token %}
        <h2>SMS TEST</h2>
        
        <label>Contact Number (for multiple numbers, separate each by a semicolon)<span class="ask" style="color:red">*</span>: </label>                       
        <input type="text" id="connum" class="input_line" name="connum" required>
        
        <label>SMS TO Send<span class="ask" style="color:red">*</span>: </label>                       
        <input type="text" class="input_line" name="smscont" maxLength="11" required>
        
        <input type="submit" value="Submit" name="product_select_submit" />
    </form>

    <!-- oninput="this.value = this.value.replace(/[^0-9.]/, '')" maxLength="11" -->


    <script>

        $(document).ready(function(){
            $('#select_all').on('click', function(){
				console.log('toggle');
				if(this.checked){
					$('.checkbox').each(function(){
						this.checked = true;
					});
				}else{
					 $('.checkbox').each(function(){
						this.checked = false;
					});
				}
			});
            
            $('.checkbox').on('click',function(){
                if($('.checkbox:checked').length == $('.checkbox').length){
                    $('#select_all').prop('checked',true);
                }else{
                    $('#select_all').prop('checked',false);
                }
            });
        });
    
        function displaySelected(){
            $.each(
                $(".checkbox:checked"), function(){
                    console.log($(this).val());
                }
            );
        }

        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        $(debounce(function() {
          var $table = $('#product_list_table'), $pager = $('.pager');

          $.tablesorter.customPagerControls({
            table          : $table,                   // point at correct table (string or jQuery object)
            pager          : $pager,                   // pager wrapper (string or jQuery object)
            pageSize       : '.left a',                // container for page sizes
            currentPage    : '.right a',               // container for page selectors
            ends           : 2,                        // number of pages to show of either end
            aroundCurrent  : 1,                        // number of pages surrounding the current page
            link           : '<a href="#">{page}</a>', // page element; use {page} to include the page number
            currentClass   : 'current',                // current page class name
            adjacentSpacer : '<span> | </span>',       // spacer for page numbers next to each other
            distanceSpacer : '<span> &#133; <span>',   // spacer for page numbers away from each other (ellipsis = &#133;)
            addKeyboard    : true,                     // use left,right,up,down,pageUp,pageDown,home, or end to change current page
            pageKeyStep    : 10                        // page step to use for pageUp and pageDown
          });

          $table.tablesorter({
            theme: 'blue',
            headers: {
              // disable sorting of the first & second column - before we would have to had made two entries
              // note that "first-name" is a class on the span INSIDE the first column th cell
              '#select_header' : {
                // disable it by setting the property sorter to false
                sorter: false
              }
            },
            widgets: ["zebra", "filter"],
            widgetOptions : {
                // filter_anyMatch replaced! Instead use the filter_external option
                // Set to use a jQuery selector (or jQuery object) pointing to the
                // external filter (column specific or any match)
                filter_external : '.search',
                // add a default type search to the first name column
                filter_defaultFilter: { 1 : '~{query}' },
                // include column filters
                filter_columnFilters: true,
                filter_placeholder: { search : 'Search...' },
                filter_saveFilters : true,
                filter_reset: '.reset',
              
            }
          })
          .tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $pager,
            size: 10,
            output: 'showing: {startRow} to {endRow} ({filteredRows})'
          });

          // make demo search buttons work
          $('button[data-column]').on('click', function() {
            var $this = $(this),
              totalColumns = $table[0].config.columns,
              col = $this.data('column'), // zero-based index or "all"
              filter = [];

            // text to add to filter
            filter[ col === 'all' ? totalColumns : col ] = $this.text();
            $table.trigger('search', [ filter ]);
            return false;
          });

        }), 300);
    </script>
{% endif %}