{% if sku_list and final_sku_list %}
	{% load static %}
	<head>
			<title>Selected products</title>

			<link rel="stylesheet" type="text/css" href="{% static 'promotion_system/dist/css/theme.blue.css' %}">
			
			<!--jquery-->
			<script type="text/javascript" src="{% static 'promotion_system/jquery-3.3.1.min.js' %}"></script>
			
			<script type="text/javascript" src="{% static 'promotion_system/dist/js/jquery.tablesorter.js' %}"></script>
			
			
	</head>
		<h1>JS Gaisano Promotion System</h1>
		<!-- <h2>Selected primary keys: {{ sku_list }}</h2> -->
		<br>
		<h2>Selected items:</h2>

		<table class="tablesorter" id="selected">
			<thead>
			  <tr>
				<th>Brand Name</th>
				<th>Short Description</th>
				<th>Category</th>
				<th>Date Created</th>
			  </tr>
			</thead>
			<tbody>
			{% for sku in final_sku_list %}
				<tr>
					<td>{{ sku.brand }}</td>
					<td>{{ sku.short_description }}</td>
					<td>{{ sku.category }}</td>
					<td>{{ sku.date_created }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
	<script>
		$(function() {
			$("#selected").tablesorter({
				theme: 'blue'
			});
		});
	</script>
{% endif %}