{% if phone_number_list %}
	{% load static %}
	<head>
		<script type="text/javascript" src="{% static 'promotion_system/jquery-3.3.1.min.js' %}"></script>
	</head>
	<body>
		<h1>JS Gaisano Promotion System</h1>
        <p>Sms content: {{ sms_body }}</p>
        <p>Phone number(s) entered:</p>
        <ul>
            {% for phone_number in phone_number_list %}
                <li>{{ phone_number }}</li>
            {% endfor %}
        </ul>
	</body>
{% endif %}